header{
    box-shadow: -0.5rem 0.1rem 1.6rem rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 4rem;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    font-family: system-ui;
    background-color: var(--light);
    position: fixed;
    width: 100vw;
}
.navbar :first-child{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}
.navbar :first-child .pesquisa{
    display: flex;
    align-items: center;
}
.navbar :first-child .pesquisa input{
    border-radius: 3rem 0 0 3rem;
    padding: 10px 20px;
    border-style: none;
}
.navbar :first-child .pesquisa img{
    border-radius: 0 3rem 3rem 0;
    padding: 6px 20px;
    background-color: var(--light);
}


.navbar :first-child li a > img {
    max-width: 140px;
}
.navbar :first-child > ul{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    list-style: none;
}
.navbar :first-child > ul li a{
    text-decoration: none;
}
.navbar :nth-child(2){

    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    align-items: center;
}

.navbar :nth-child(2) button{
    border: none;
    padding: 10px 19px;
    border-radius: 25px;
    background-color: var(--main-color);
    font-size: 15px;
    font-weight: 500;
    font-family: system-ui;
    
}

.navbar :nth-child(2) button a {
    text-decoration: none;
}