

.sobre{
    padding: 10rem 12% 8rem 12%;
    background-color: var(--light);
}




.sobre > div > h2{
    color: var(--company-color);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
    font-family: system-ui;
    text-align: center;
    margin-bottom: 2rem;
}



@media screen and (max-width: 1080px) {
    .sobre{
        justify-content: center;
    }

    .sobre > div {
        margin-right: 0;
    }
}