
.produto {
    /* box-sizing: border-box;
    padding: 1.5rem 1.7rem;
    width: 17rem;
    min-width: 15rem;
    box-shadow: 0.5rem 0.3rem 1rem rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 1.3rem;
    text-align: center; */


    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.8rem 0.4rem 0.7rem 0.4rem;
    width: 13rem;
    min-width: 10rem;
    border-radius: 0.3rem;
    text-align: center;
    box-shadow: 0rem 0rem 8px 2px rgba(0, 0, 0, 0.1);

}

.produto > button{   
    border-radius: 0.3rem;
    border-style: none;
    background-color: var(--company-color);
    padding: 8px 16px;
    margin-top: 6px;    
    width: 100%;
    
}

.produto > button a{
    text-decoration: none;
    font-size: 14px;
    color: var(--light);

}

.produto > img{
    width: 75%;
    object-fit: cover;
}

.produto > p{
    color: var(--dark);
    margin-top: 0.3rem;
    font-size: 14px;
    font-family: system-ui;

}

.produto > .preco{
    color: var(--preco-positivo);
    font-size: 12px;
}