
.produto {
    box-sizing: border-box;
    padding: 1.5rem 1.7rem;
    width: 17rem;
    min-width: 15rem;
    box-shadow: 0.5rem 0.3rem 1rem rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 1.3rem;


}

.produto > button{   
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: var(--main-color);
    width: 100%;
    color: var(--dark);
    
}

.produto > img{
    height: 12rem;
    width: 9rem;
    object-fit: cover;
    margin: 0.5rem 1rem 2rem 1rem;
}

.produto > p{
    width: 85%;

    color: var(--dark);
    text-align: center;
    margin-top: 0.5rem;
    font-size: 15px;
}